---
---

@import "{{ site.theme }}";
.wrapper {
  width:1024px;
  margin:0 auto;
}
section {
  width:unset;
  float:unset;
  padding-bottom:50px;
}
header {
  width:unset;
  float:unset;
  position:unset;
}